[defaults]
inventory = ./inventory/hosts.yml
roles_path = ./roles
collections_path = ./.collections
interpreter_python = auto_silent
host_key_checking = False
stdout_callback = default
result_format = yaml
vars_plugins_enabled = host_group_vars,community.sops.sops

[ssh_connection]
pipelining = True
